@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  color: #0a0a0a;
  margin-top: 16px;
}

p {
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 24px;
  text-align: justify;
}

img {
  width: 100%;
}

.paginationBttns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #0a0a0a;
  color: #0a0a0a;
  cursor: pointer;
}

.paginationBttns a:hover {
  background-color: #0a0a0a;
  color: white;
  cursor: pointer;
}

.paginationActive a {
  background-color: #0a0a0a;
  color: white;
}
